@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

body{
    background:linear-gradient(175deg, #0b0337, #71b7e6);
}

.card{
    display: grid;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    transition: 0.5s ease;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6)
}

footer{
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
    background:#111;
    height: auto;
    width:100%;
    padding-top: 40px;
    color:cadetblue;
    box-sizing: border-box;
    z-index: -1;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight:400;
    text-transform:capitalize;
    line-height: 3rem;
    font-family: 'Dash Horizon';
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto 0 auto;
    line-height: 28px;
    font-size: 13px;
}

.socials{
    list-style:  none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color:indigo;
}